<section class="location" id="location">
  <div class="location-container">
    <h2 class="section-title">Địa điểm & Thông tin công ty</h2>
    
    <div class="location-grid">
      <div class="location-map-wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0843626123143!2d106.68051532346897!3d10.802890989342667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a8fbd77f897%3A0xf40d9b17a2a88db!2sNH%C3%80%20B%C3%92%20VI%C3%8AN!5e0!3m2!1svi!2s!4v1716502800000" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      
      <div class="location-info">
        <h3>Thông tin công ty</h3>
        <div class="company-info">
<strong>NHÀ BÒ VIÊN</strong>
NCC BÒ VIÊN & GÂN TRÂU BÒ

<strong>Tên công ty:</strong>
CT.TNHH.MTV: MINHKHOAPHAT

<strong>Tài khoản ngân hàng:</strong>
STK: 58681986 Techcombank

<strong>Lưu ý thanh toán:</strong>
Đơn tỉnh thanh toán hết tiền khi có biên nhận nhà xe mới thả hàng
        </div>
      </div>
    </div>
  </div>
</section>
